.login-icon img{
    border-radius: 100px;
    width: 100px;
    height:100px;
}

#formSubmitBtn:hover,#registersubmit:hover {
    cursor: pointer;
}
#formSubmitBtn:active,#registersubmit:active{
    background-color: rgba(24, 166, 235, 0.67);
}
.below-links{
    margin-top: 20px;

}


.social-login a{
    font-size: 50px;
}

#qqlogin:active,#webologin:active,#wechatlogin:active{
    font-size: 45px;
}

.search-box {
    position: relative;
    z-index: 1222;
}


.search-span {
    display: none;
    position: absolute;
    width: 100%;
    /*z-index: 13;*/
    /*height:100%;*/
}

.search-div {
    /*margin: 0 10px;*/
    /*padding: 10px;*/
    /*border: 1px solid #666;*/
    -moz-box-shadow: 3px 3px 4px #666;
    -webkit-box-shadow: 3px 3px 4px #666;
    box-shadow: 3px 3px 4px #666;
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,
    Color='#666');
}




/*.footer{*/
    /*position:absolute;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
    /*height:10px;*/
/*}*/


/*#slide1{*/
    /*width:auto;*/
/*}*/