<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="settingAction" class="com.bbs.actions.SettingAction">
		<property name="settingService" ref="settingService"></property>
	</bean>
	<bean id="userAction" class="com.bbs.actions.UserAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="reservationAction" class="com.bbs.actions.ReservationAction">
		<property name="reservationService" ref="reservationServices"></property>
	</bean>
	<bean id="authorizationAction" class="com.bbs.actions.AuthorizationAction">
		<property name="authorizationService" ref="authorizationService"></property>
	</bean>
	<bean id="searchHistoryAction" class="com.bbs.actions.SearchHistoryAction">
		<property name="searchHistoryService" ref="searchHistoryService"></property>
	</bean>
	<bean id="commentAction" class="com.bbs.actions.CommentAction">
		<property name="commentService" ref="commentService"></property>
	</bean>
	<bean id="bookAction" class="com.bbs.actions.BookAction">
		<property name="bookService" ref="bookService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="borrowedRecordAction" class="com.bbs.actions.BorrowedRecordAction">
		<property name="borrowedRecordService" ref="borrowedRecordService"></property>
	</bean>
	<bean id="bookItemAction" class="com.bbs.actions.BookItemAction">
		<property name="bookItemService" ref="bookItemService"></property>
	</bean>
	
	
	<bean id="settingService" class="com.bbs.services.SettingService">
		<property name="settingDao" ref="settingDao"></property>
	</bean>
	<bean id="userService" class="com.bbs.services.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="reservationServices" class="com.bbs.services.ReservationServices">
		<property name="reservationDao" ref="reservationDao"></property>
	</bean>
	<bean id="authorizationService" class="com.bbs.services.AuthorizationService">
		<property name="authorizationDao" ref="authorizationDao"></property>
	</bean>
	<bean id="searchHistoryService" class="com.bbs.services.SearchHistoryService">
		<property name="searchHistoryDao" ref="searchHistoryDao"></property>
	</bean>
	<bean id="commentService" class="com.bbs.services.CommentService">
		<property name="commentDao" ref="commentDao"></property>
	</bean>
	<bean id="bookService" class="com.bbs.services.BookService">
		<property name="bookDao" ref="bookDao"></property>
	</bean>
	<bean id="bookItemService" class="com.bbs.services.BookItemService">
		<property name="bookItemDao" ref="bookItemDao"></property>
	</bean>
	<bean id="borrowedRecordService" class="com.bbs.services.BorrowedRecordService">
		<property name="borrowedRecordDao" ref="borrowedRecordDao"></property>
	</bean>
	
	<bean id="settingDao" class="com.bbs.dao.SettingDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDao" class="com.bbs.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="reservationDao" class="com.bbs.dao.ReservationDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="authorizationDao" class="com.bbs.dao.AuthorizationDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="searchHistoryDao" class="com.bbs.dao.SearchHistoryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="commentDao" class="com.bbs.dao.CommentDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bookDao" class="com.bbs.dao.BookDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bookItemDao" class="com.bbs.dao.BookItemDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="borrowedRecordDao" class="com.bbs.dao.BorrowedRecordDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
